<form method="post" action="{{ path('admin_ingredient_delete', {'id': ingredient.id}) }}">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
	<button class="btn btn-sm btn-success round">
		<i class="bi bi-check-lg"></i>
	</button>
</form>
